.appContent img{
    width: 1277;
    height: 375;
}

.ppic{
    position:absolute;
    left: 60vh;
    top: 70px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.decriptionBlock{
    padding: 10px;
}

.status {
    display: table;
    margin: 0 auto;
}

.about {
    padding-top: 20px;
    display: table;
    margin: 0 auto;
}

.aboutCard {
    border-color: #25D366 !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
}

.aboutCard p {
    display: table;
    margin: 0 auto;
}

.separator {
    border: none; 
    color: #25D366; 
    background-color: rgb(37, 211, 102, 0.5);
    height: 1.5px;
}

.bottomseparator {
    border: none; 
    color: #25D366; 
    background-color: rgb(37, 211, 102, 0.5);
    height: 2px;
    margin-bottom: 0;
}

.name {
    margin: 10px;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
}

.positioning {
    margin: 40px;
    display: table;
    margin: 0 auto;
}

.cover {
    height: 150px;
    width: 100%;
    position:relative;
    border-radius: 15px;
    margin-bottom: 55px;
}

.employment {
    position: relative;
    display:  inline-block
}

.leftpart {
    text-align: center;
    border-right: solid;
    border-right-color: rgb(255, 0, 0, 0.5);
    border-right-width: 1px;
}

.rightpart {
    position: absolute;
    right: 0;
}

.cont {
    text-align: center;
}

.jobdesc {
    text-align: center;
    margin: 20px;
}

.empRow {
    display: inline-block;
}

.yesCircle {
    justify-content: center;
    background-color: green;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 4px;
}

.noCircle {
    justify-content: center;
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 4px;
}

.mainContainer {
    margin-top: 20px;
}

.editbtn {
    margin-bottom: 20px;
    border: solid 1px #25D366;
    background-color: #25D366;
    color:white;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fullname {
    margin-left: 30px;
    font-weight: bold;
}

.contactstitle {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.contactColOne {
    margin-left: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contactColOne input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.contactColTwo {
    margin-left: 100px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contactColTwo input {
    margin-bottom: 10px;
    margin-top: 10px;
}
.customCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox+label {
    margin-left: 30px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.customCheckbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.customCheckbox:checked+label::before {
    border-color: #25D366;
    background-color: #25D366;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.customCheckbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3ffb3;
}

.customCheckbox:not(:disabled):active+label::before {
    background-color: #b3ffb3;
    border-color: #b3ffb3;
}

.customCheckbox:focus:not(:checked)+label::before {
    border-color: #b3ffb3;
}

.skillSpan {
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px;
}

.editdiv {
    margin-left: 95%;
}

.editdivs {
    margin-left: 87%;
}

.subBtn {
    margin-bottom: 20px;
    border: solid 1px #25D366;
    background-color: #25D366;
    color:white;
    border-right: solid 1px white;
    border-bottom-left-radius: 25%;
}

.backBtn {
    margin-bottom: 20px;
    border: solid 1px #25D366;
    background-color: #25D366;
    color:white;
    border-bottom-right-radius: 25%;
}